* {
    margin:0 !important;
    padding:0 !important;
}
body {
    height:100%;
    min-height:100%;
}

#header {
    background:#005B96;
}
h1,h2,h3,h4,h5,h5 {
    margin-bottom:0 !important;
    color:#fff !important;
}

#footer {
    width:100%;
    background:#363636;
    position:fixed;
    bottom:0;
}
